.aboutus{
    .bg{
        background-color:#212529;opacity:0.75;
        border-radius: 20px;
        p{
            font-size : $font-m;
        }
    }
}
.secondary{
    .content{
        p{
            font-size: 18px;
        }
    }

}