.funding-info{
    .label{
        font-size: 1.2rem;
        color:#B5B3C2;
        font-weight: bold;
    }
    .now-info{
        font-size: 2.7rem;
        font-weight: bold;
        margin: 0.5rem 0 0 0;

    }
    .funding-share{
        width: 49%;
        border-radius: 16px;
        transition: 0.3s;

        &:first-child{
            margin-right: 2%;
        }
        &:last-child{
            cursor: pointer;
            &:hover{
                background-color: #B5B3C2;
            }
        }
        
    }
    .who{
        min-width:3.5rem;
        width: 3.5rem;
        height: 3.5rem;
        background-color: #B5B3C2;
        padding: 10px;
        border-radius:50%;
        cursor:pointer;
        transition: 0.3s;
        &:hover{
            background-color: #F0C884;
        }

    }
    .date{
        min-width:3.5rem;
        width: 3.5rem;
        height: 3.5rem;
        background-color: #B5B3C2;
        padding: 10px;
        border-radius:50%;
        cursor:pointer;
        transition: 0.3s;
        &:hover{
            background-color: #F0C884;
            transition: 0.3s;
            .date-interval{
                transition: 0.3s;
                display: block;
            }
        }
    }
    .date-interval{
        display: none;
        left: 170px;
        width: 135px;
        transition: 0.3s;
    }
}
.funding-team{
    border-radius: 60px;
    img{
        border: 0.5rem solid white;
        padding: 6px;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
    }
}
.feedback{
    img{
        width:5rem;
        height: 5rem;
        border-radius: 50%;
    }
    .feedback-content{
        display: -webkit-box; 
        overflow : hidden; 
        text-overflow : ellipsis; 
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}
.progress-circle{
    width: 3.8rem;

}

.contact-proposer{
    .contact-photo{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}
.proposer-people{
    .modal-content{
        border-radius: 50px;
    }
    .proposer-photo{
        border: 0.3rem solid white;
        padding: 6px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .modal-header{
        .btn-close{
            margin: 0 !important;
            right: 10px;
        }
    }
}
.facebook-hover{
    transition: 0.3s;
    &:hover{
        color: #296fd8 !important;
    }
}
.line-hover{
    transition: 0.3s;
    &:hover{
        color: #55d869 !important;
    }
}