.main{
    background-image: url("../img/cover/cover_4k.png");
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    @include pad(){
        background-image: url("../img/cover/landing_cover_phone.png");
    }
    .title{
        position: relative;
        top: 30%;
        @include pad(){
            top: 10%;
        }
    }
    h1{
        font-size: 4.5rem;
        line-height: 5rem;
    }
    h2{
        font-size: $font-l;
    }
    .cover{
        height: 700px;
    }
    .account{
        width: 9px;
        height: 19px;
        background-color: $second;
    }
    
    .description{
        background-image: url("../img/material/circle_white.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        left: 36%;
        top: -18%;
        opacity: 90%;
        width: 80%;
        min-height: 100%;
        @include bigpc(){
            background-size: 980px;
        }
        @include pc(){
            background-size: 910px;
        }
        @include pad(){
            left: 0%;
            top: 13%;
            width: 100%;
            background-size: 800px;
        }
        @include phone(){
            background-size: 630px;
            top: 5%;
        }
        ul{
            
            padding: 22% 0 0 36%;
            @include bigpc(){
                padding: 27% 0 0 36%;
            }
            @include pc(){
                padding: 32% 0 0 34%;
            }
            @include pad(){
                padding: 34% 0 0 34%;
            }
            @include medium(){
                padding: 47% 0 0 29%;
            }
            @include phone(){
                margin: 0 auto;
                padding: 260px 0 0 55px;
                width: 300px;
            }
        }
        li{
            list-style-image:url('../img/material/icon.png');
            font-size: 40px;
            line-height: 60px;
            @include bigpc(){
                font-size: 35px;
                line-height:55px;
            }
            @include phone(){
                font-size: 30px;
                line-height: 45px;
            }
            
            &:first-child{
                list-style: none;
                font-size: 50px;
                @include bigpc(){
                    font-size: 40px;
                }
                @include phone(){
                    font-size: 35px;
                }
            }
        }
    }
}
.hope{
    img{
        width: 21.875rem;
        
    }
}
.context{
    width:500px;
    @include pc(){
        width: 400px;
    }
    @include pad(){
        width: 400px;
    }
    @include phone(){
        width: 280px;
    }
}
.videobox{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 40%;
    iframe {
        position: absolute;
        top: 0;
        left: 13.5%;
        width: 73%;
        height: 100%;
    }
} 
.bg-1{
    background-image: url("../img/blob_yellow.png");
    background-size: contain;
    background-position: 0% 50%;
    background-repeat:no-repeat;
    max-width: 100%;
    min-height: 100%;
    @include pad(){
        background-position: center;
    }
}
.bg-2{
    background-image: url("../img/blob_purple.png");
    background-size: contain;
    background-position: 100% 50%;
    background-repeat:no-repeat;
    max-width: 100%;
    min-height: 100%;
    @include pad(){
        background-position: center;
    }
} 
.pad{
    padding: 7.5rem 0px;
    @include phone(){
        padding: 5.5rem 0px;
    }
    &_1{
        padding: 6rem 0px;
    }
}
.bg-3{
    background-image: url("../img/blob_purple.png");
    background-size: contain;
    background-position: center;
    background-repeat:no-repeat;
    max-width: 100%;
    min-height: 100%;
}
.content{
    .nsysu_family{
        background-image: url("../img/material/paint_gradual.png");
        background-repeat: no-repeat;
        width: 35%;
        max-width:600px;
        min-height: 100%;
        background-position: center;
        background-size: cover;
        padding-left:3%;
        @include pad(){
            width: 70%;
            max-width:450px;
            padding-left:0%;
        }
    }
    .slogen{
        background-image: url("../img/material/frame.png");
        background-repeat: no-repeat;
        max-width:85%;
        min-height: 100%;
        background-position: center;
        background-size: contain;
        padding: 2% 0;
        @include pad(){
            max-width: 100%;
            background-size: cover;
        }
        p{
                max-width:900px;
            @include pc(){
                max-width:750px;
            }
            @include pad(){
                max-width: 90%;
            }
        }
    }
    .join{
        padding: 0 9.375rem; 
    }
    .count{
        color: $second;
        font-weight:bold;
        font-size:4rem ;
        @include pad(){
            font-size: 2.5rem;
        }
        @include phone(){
            font-size: 2rem;
        }
    }
    .from_now{
        font-size: 3rem;
        @include pad(){
            font-size: 2rem;
        }
        @include phone(){
            font-size: 1.5rem;
        }
    }
    .nsysu_box{
        margin: 0 0 0 13rem  !important;
        width: 200px;
        @include pad(){
            padding: 0px;
            width: 150px;
            margin: 0 auto !important;
        }
    }
    .together{
        background-image: url("../img/material/paint_white.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        padding: 0 0 50px 0;
        width: 80%;
        max-width: 450px;
        @include pad(){
            width: 60%;
            padding: 0 0 30px 0;
        }
        &_gray{
            background-image: url("../img/material/paint_gray.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            padding: 0 0 70px 0;
            width: 80%;
            max-width: 450px;
            @include pad(){
                width: 60%;
                padding: 0 0 40px 0;
            }
        }
    }
}
.paint_yellow{
    background-image: url("../img/material/paint_yellow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 60%;
    padding: 0 0 40px 0;
    margin: 0 auto;
}
.register{
    .logo{
        width: 72px;
    }
    .account{
        width: 9px;
        height: 19px;
        background-color: $second;
    }
    .divider{
        width: 100%;
        height: 2px;
        background-color: gray;
    }
}
.login_line{
    background-color: #00B900;
    padding: 10px 0px;
    transition: background-color 0.3s ;
    &:hover{
        background-color: #00AC00;
    }
}
.login_facebook{
    background-color: #2471E6;
    padding: 10px 0px;
    transition: background-color 0.3s ;
    &:hover{
        background-color: #146ADA;
    }
}

#myChart{
    max-width: 60%;
    height: 500px; 
    @include pad(){
        max-width: 80%;
    } 
}
.logo{
    width: 13rem;
}
.alumni{
    padding: 1px 0 0 0 ;
}
.button {
	pointer-events: auto;
	cursor: pointer;
	background: #e7e7e7;
	border: none;
	padding: 0.7rem 1rem;
	margin: 0;
	font-size: inherit;
	position: relative;
	display: inline-block;
}

.button::before,
.button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.button--anthe {
	color: #fff;
	background: none;
    &:before{
        content: '';
        background: #EF5254;
        -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
        transition: clip-path 0.4s cubic-bezier(0.2, 1, 0.8, 1), -webkit-clip-path 0.4s cubic-bezier(0.2, 1, 0.8, 1);
    }
    &:hover{
        &:before{
        background: #ff4548;
        -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    }}
    span{
        display: block;
        mix-blend-mode: screen;
        transition: transform 0.4s cubic-bezier(0.2, 1, 0.8, 1);
    }
    &:hover{
        span{
            transform: translate3d(-10px,0,0);
        }
    }
}

