img{
    max-width: 100%;
    height: auto;
    display: block;
}
.header{
    h1{
        font-size: $font-xl;
    }
    .nav-link{
        font-size: $font-m;
        color: white;
        &:hover{
            color: $second;   
        }
    }
    .navbar-toggler{
        &:focus{
            box-shadow:0 0 0 0rem;
        }
        &:active{
            background-color: #fff;
        }
    }
    @include pc(){
        .nav-item{
            border{
                border-style: solid;
            }
            &:hover{
                background-color: #fff;
            }
        }
    }
    

}
.footer{
    &_title{
        font-size:$font-xl;
    }
    &_second{
        font-size: $font-m;
    }
    
     
}
.line{
        &:hover{
            color: #00B900 !important;
        }
    }
.email{
    &:hover{
        color: #D76C75 !important;
    }
}
.line_fixed{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 310px;
    height: 160px;
    .dialog{
        background-image: url("../img/DialogBox.png");
        display: flex;
        justify-content: center;
        align-items: center;
        width:240px;
        height: 100px;
        text-align: center;
        line-height: 20px;
    }
    img{
        transition: filter 0.5s;
        &:hover{
            filter: drop-shadow(0px 0px 10px rgba(47, 88, 107, 0.5));
        }
    }
}

input[type="email"] {
    font-family: "GenSenRounded TW";
    font-size: 10px;
  }