img{
    max-width: 100%;
    height: auto;
    display: block;
}
.header{
    .nav-link{
        font-size: $font-m;
        color: white;
        &:hover{
            color: $second;   
        }
    }
    .navbar-toggler{
        &:focus{
            box-shadow:0 0 0 0rem;
        }
        &:active{
            background-color: #fff;
        }
    }
    @include pc(){
        .nav-item{
            border{
                border-style: solid;
            }
            &:hover{
                background-color: #fff;
            }
        }
    }
    

}
.footer{
    &_title{
        font-size:$font-xl;
    }
    &_second{
        font-size: $font-m;
    }
    
     
}
.line{
        &:hover{
            color: #00B900 !important;
        }
    }
.email{
    &:hover{
        color: #D76C75 !important;
    }
}
.line_fixed{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 230px;
    height: 70px;
    .dialog{
        background-image: url("../img/DialogBox.png");
        background-repeat: no-repeat;
        background-position: bottom;
        display: none;
        justify-content: start;
        align-items: flex-end;
        width: 173px;
        height: 65px;
        text-align: center;
        line-height: 20px;   
        font-size: $font-s;
        vertical-align: bottom;
        &:hover{
            display: none;
        }
    }
    img{
        transition: filter 0.5s;
        &:hover{
            filter: drop-shadow(0px 0px 10px rgba(47, 88, 107, 0.5));
        }
    }
}

input[type="email"] {
    font-family: "GenSenRounded TW";
    font-size: 10px;
  }