.contain{
    object-fit: contain;
}
.cover{
    object-fit: cover;
}

.product{
    .product-info{
        .img-main{
            
            img{
                margin: 0 auto;
                width: 90%;
                object-fit: cover;

            }
        }
        .img-small{
            img{
                width: 44%;
                object-fit: cover;
                &:first-child{
                    margin-right: 2%;
                } 
                @include pad(){
                    width: 49%;
                    max-width: 49%;
                    height: min-content;
                    &:first-child{
                        margin-right: 2%;
                    } 
                }
            }
               
        }
        .quantity{
            li  {
                min-width: 45px;
                height: 45px;
            }
            #productQuantity{
                width: 110px;
                @include pad(){
                    width: 100%;
                }
            }
        }
        
        .product-content{
            button{
                width: 200px;
                border-radius: 15px;
                @include pad(){
                    width: 100%;
                }
            }
            select{
                width: 200px;
                height: 45px;
                @include pad(){
                    width: 100%;
                }
            }
            .border{
                max-width: 456px;
                @include pad(){
                    max-width: 100%;
                }
            }
        }
    }
    .product-sentence{
        .sentence-background{
            border-radius: 50px;
        }
        img{
            margin: 50px 40px;
            min-width: 180px;
            height: 180px;
            width: 180px;
            object-fit: cover;
            border-radius: 50%;
            @include pad(){
                margin: 20px 40px;
                min-width: 100px;
                height: 100px;
                width: 100px;
            }
        }
        h2{
            font-size: 35px;
            padding:0px 30px;
            line-height: 45px;
            @include pad(){
                font-size: 2rem;
                padding: 0px 20px;
                line-height: 2.5rem;

            }
        }
        .sentence-name{
            position: absolute;
            bottom: -50px;
            right: 47px;
        }
        .comma-up{
            font-size: 100px;
            transform:scaleX(-1);
            top: -30px;
            left: 0px;
            @include pad(){
                font-size: 60px;
                top: -11px;
            }
        }
        .comma-down{
            font-size: 100px;
            bottom: -90px;
            right:3px;
            @include pad(){
                font-size: 60px;
                bottom: -50px;
                
            }
        }
    }
}
.list{
    ul{
        li{
            width: 200px;
            cursor: pointer;
            border-right: 3px solid black;
            &:last-child{
                border-right: unset;
            }
            @include phone(){
                max-width: 100px;
            }

        }
    }
}
.nav-pills .nav-link.active{
        background-color:$color_sec  !important;
        color: white !important;
}
.product-detail{
    .img-main{
        width: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

    }
}
.story-content{
    div{
        border-radius: 5px;
        margin: 0 100px;
        padding: 50px 0px;
        @include pad(){
            border-radius: 5px;
            margin: 0 30px;
            padding: 50px 35px;
        }
    }

}
.product-evaluation{
    .profile-photo{
        min-width: 110px;
        height: 110px;
        width: 110px;
        object-fit: cover;
        border-radius: 50%;
        @include pad(){
            top: -3px;
            right: 6px;
            min-width: 3rem;
            height: 3rem;
            width: 3rem;
        }
    }
    .evaluation-content{
        font-size: 22px;
        @include pad(){
            top: -10px;
            font-size: 16px;

        }
    }

}
.list-choose{
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}

.product-contact{
    .contact-person{
        img{
            border: 7px solid white;
            padding: 6px;
            width: 190px;
            height: 190px;
            border-radius: 50%;
            @include medium(){
                width: 120px;
                height: 120px;
            }
        }
    }
    .contact-bg{
        border-radius: 60px;
    }
}

.contact-senior{
    .contact-photo{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}

.slick-prev:before, .slick-next:before{
    color: #464646 !important;
}
